.App {
  text-align: center;
  margin-top: 55px;
  font-family: 'Josefin Sans', sans-serif;  
}

.tool {
  position: absolute;
  top: 200px;
  background-color: green;
  border-radius: 10px;
  padding: 20px;
}

#submit-button {
  position: relative;
  top: 100px;
  left: -500px;
}

#submit-button:hover {
  transition: all 0.2s ease-in-out;
  background: #0aff4b;
  color: #010606;
}

#powered-by:hover {
  transition: all 0.2s ease-in-out;
  background: #0aff4b;
  color: #010606;
}

.powered-by {
  position: absolute;
  right: 65px;
  top: 570px;
  background-color: green;
  padding: 2px;
  border-radius: 5px;
}

.app-logo {
  height: 4vmin;
  pointer-events: none;
}

#title-name {
  font-family: 'Josefin Sans', sans-serif;  
}

#price-list {
  font-family: 'Josefin Sans', sans-serif;  
}

.powered-by { 
  font-size: small;
}


input {
  color: white !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-button {
  position: absolute;
  left: 1050px;
}
